<%= form_for([@register, @respond], :html => { :id => "mws-validate", :class => "mws-form" }) do |f| %>

  <div class="mws-form-inline">
    <div class="mws-form-row">
      <%= f.label :date_respond, "Fecha" %>
      <div class="mws-form-item large">
        <%= f.text_field :date_respond, :class => "mws-textinput dateESP required", :placeholder => "Formato dd/mm/aaaa"  %>
      </div>
    </div>
  </div>

  <div class="mws-form-inline">
    <div class="mws-form-row">
      <%= f.label :number_quit, "Registro salida" %>
      <div class="mws-form-item large">
        <%= f.text_field :number_quit, :class => "mws-textinput" %>
      </div>
    </div>
  </div>

  <div class="mws-form-inline">
    <div class="mws-form-row">
      <%= f.label :description, "Reseña" %>
      <div class="mws-form-item large">
        <%= f.text_area :description, :class => "required" %>
      </div>
    </div>
  </div>

  <div class="mws-form-inline">
    <%= f.fields_for :assets do |a| %>
    <div class="mws-form-row">
      <%= a.label "Añadir fichero" %>
      <div class="mws-form-item large">
        <%= a.file_field :asset %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="mws-button-row">
    <%= f.submit "Añadir Respuesta", :class => "mws-button gray medium" %>
  </div>
<% end %>