<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span class="mws-i-24 i-single-document">Editar expediente</span>
	</div>

	<div class="mws-panel-body">
		<%= render 'form' %>
	</div>

</div>
<div class="mws-report-container clearfix">
	<%= link_to 'Nuevo Expediente', new_dossier_path, :class => "mws-report-2 mws-button red medium" %>

	<%= link_to 'Ir Atras', dossiers_path, :class => "mws-report-2 mws-button red medium" %>	

	<%= link_to 'Ver Expediente', @dossier, :class => "mws-report-2 mws-button red medium" %>

	<%= link_to 'Eliminar', @dossier, :method => :delete, :confirm => "¿Estás seguro?", :class => "mws-report-2 mws-button gray medium" %>
</div>