<%= render 'layouts/indexes_header' %>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span class="mws-i-24 i-table-1">Listado de Ficheros</span>
	</div>
	
	<div class="mws-panel-body">
		<table class="mws-datatable-fn mws-table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Tamaño</th>
					<th>Subido</th>
				</tr>
			</thead>
			<tbody>

				<% @avatars.each do |file| %>
					<tr class="file_<%= file.id %>">
						<td><%= link_to file.avatar_file_name, file.avatar.url, :class => "file_link", :target => '#' %></td>
						<td><%= number_to_human_size file.avatar_file_size %></td>
						<td><%= file.created_at.strftime("%d/%m/%Y") %></td>
					</tr>	
				<% end %>
				
			</tbody>
		</table>
	</div>
		
</div>


