<%= form_for(@intern_notification, :html => { :id => "mws-validate", :class => "mws-form", :multipart => true }) do |f| %>
  <% if @intern_notification.errors.any? %>

    <div id="mws-validate-error" class="mws-form-message error" style="">
      <p><%= pluralize(@intern_notification.errors.count, "error") %> prohibited this register from being saved: </p><br>
      <ul>
      <% @intern_notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mws-form-inline">
    
    <div class="mws-form-row">
      <%= f.label :who, "Recibido de" %>
      <div class="mws-form-item large">
        <%= f.text_field :who, :class => "mws-textinput required" %>
      </div>
    </div>

    <div class="mws-form-row">
      <%= f.label :date_intern, "Fecha" %>
      <div class="mws-form-item">
        <% if params[:action].eql? "edit" %>

          <%= f.text_field :date_intern, :value => "#{@intern_notification.date_intern.strftime('%d/%m/%Y')}", :class => "mws-textinput dateESP required", :placeholder => "Formato dd/mm/aaaa" %>
        <% else %>
          <%= f.text_field :date_intern, :class => "mws-textinput dateESP required", :placeholder => "Formato dd/mm/aaaa" %>
        <% end %>
      </div>
    </div>

    <div class="mws-form-row">
      <%= f.label :description, "Descripción" %>
      <div class="mws-form-item">
        <%= f.text_area :description, :class => "required" %>
      </div>
    </div>

    <% if params[:action].eql? "edit" %>
      <hr>
      <div class="mws-form-row files_row">
        <h4>Fichero adjunto</h4>
        <span><i>Únicamente se permite un fichero por notificación. Si se adjunta otro fichero cuando ya existe uno, automáticamente se borrará el menos reciente.</i></span>
      </div>    

      <% if @intern_notification.intern_notification_file? %>
      <div class="mws-form-row">
        <p class="file_added"><%= link_to "#{f.object.intern_notification_file_file_name}", download_intern_notification_path(@intern_notification), :target => "#" %></p>
      </div>
      <% end %>

      <div class="mws-form-row">
        <%= f.label :intern_notification_file, "Fichero adjunto" %>
        <div class="mws-form-item">
          <%= f.file_field :intern_notification_file %>
        </div>
      </div>
    
    <% else %>
      <div class="mws-form-row">
        <%= f.label :intern_notification_file, "Fichero adjunto" %>
        <div class="mws-form-item">
          <%= f.file_field :intern_notification_file %>
        </div>
      </div>
    <% end %>

  </div>


  
  <div class="mws-button-row">
    <% if params[:action].eql? "edit" %>
      <%= f.submit "Editar", :class => "mws-button red" %>
    <% else %>
      <%= f.submit "Añadir", :class => "mws-button red" %>
    <% end %>
  </div>
<% end %>
